@import "normalize.scss";
html,
body{
	font-size: 14px;
	color: #22356f80;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
@font-face{
	font-family: Larsseit;
	src: url('../css/Larsseit.ttf');
}
.wrapper {
	height: 100%;
	background-color: #fff;
	width: 100%;

}
.main {
	min-height: 100%;
	max-width: 100%;
	overflow: hidden;
	overflow-x: hidden;
	background: linear-gradient(to right, #F4F9E2 75%, #edfdff 25%);
		&__content {
			display: flex;
		}
		&__body{
			flex: 0 0 100%;
		}
		&__column {
			padding-top: 120px;
			position: relative;
			z-index: 4;
			padding-bottom: 75px;
		}

		&__logo {
		
		}

		&__title {
			margin-top: 40px;
			margin-bottom: 70px;
			font-family: Larsseit;
			font-size: 48px;
			line-height: 53px;
			max-width: 485px;
			color: #22356F;
			font-weight: 700;
			letter-spacing: -0.035em;
		}

		&__subtitle {
			font-family: Larsseit;
			color: #22356F;
			font-size: 24px;
			line-height: 42px;
			max-width: 470px;
			margin-bottom: 55px;
			font-weight: 400;
		}

		&__buttons {
			display: flex;
		}

		&__button {
			font-family: Larsseit;
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 0.1em;
		}
		.main-button__left-active{
			
		}
		&__background {
			position: relative;
			z-index: 2;
			flex: 0 0 50%;
			transform: translate(-100%, 0px);
			top: -80px;
			& img{
				max-width: 100%;
			}
		}
		@media(width: 1024px){
			&__content{
				padding-left: 10px;
			}
		}
		@media(max-width: 1024px){
			&__background{
				top: 80px;
			}
		}
		@media(max-width: 1023px){
			&__background{
				display: none;
			}
			&{
				background: linear-gradient(to right, #F4F9E2 100%, #edfdff 0%);
			}
			&__body{
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				
			}
			&__buttons{
				display: flex;
				flex-direction: column;
				max-width: 300px;
				margin: 0 auto;
			}
		}
		@media(max-width: 767px){
			&__logo {
		
			}
	
			&__title {
				font-size: 45px;
			}
	
			&__subtitle {
				font-size: 22px;
			}
		}
}
.header {
	position: relative;
	padding-top: 27px;
	z-index: 5;
		&__row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
		}

		&__logo {
			position: relative;
			z-index: 4;
		}
		&__burger{
			display: none;
		}
		&__navigation {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__list {
			display: flex;
			margin-right: 320px;
			& li{
				
			}
		}

		&__link {
			font-weight: 500;
			text-decoration: none;
			font-family: Larsseit;
			font-size: 18px;
			line-height: 16px;
			font-family: Larsseit;
			color: #22356F;
			padding: 0px 13px 10px 8px;
			&:hover{
				font-weight: 600;
				border-bottom: 2px solid #22356F;
			}
		}
		@media (max-width: 1400px){
			&{
				font-size: 16px;
			}
		}
		&__btn {
			font-family: Larsseit;
			border: none;
			outline: none;
			font-size: 14px;
			color: #FFFFFF;
			background-color: #62D0DF;
			padding: 20px 30px;
			border-radius: 50px;
			transition: 0.2s;
			font-weight: 400;
			&:active{		
				background-color: #22356F;
			}
		}
		@media(width: 1024px){
			&__row{
				padding: 0px 10px;
			}
		}
		@media(max-width: 1023px){
			&__logo{
				margin-left: 30px;
				margin-top: 5px;
			}
			&__burger{
				display: block;
			}
			&__burger{
				display: none;
			}
			&__burger{
				width: 30px;
				height: 20px;
				display: block;
				position: relative;
				z-index: 3;
				margin-right:40px;
			}
			&__burger span{
				position: absolute;
				background-color: #22356F;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
			&__burger:before,
			&__burger:after{
				content: '';
				background-color: #22356F;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&__burger.active{
				position: relative;
				z-index: 11;	
				transition-duration: 0.3s;
			}	
			&__burger:after{
				top: 18px;
			}
			&__burger.active:before{	
				transform: rotate(45deg);
				top: 9px;
				width: 30px;
				height: 3px;
				background-color: #22356F;
			}
			&__burger.active:after{
				transform: rotate(-45deg);
				top: 9px;
				width: 30px;
				height: 3px;
				background-color: #22356F;
			}
			&__burger.active span{
				display: none;
			}
			&__navigation {
				position: absolute;			
				top: -500%;
				transition: 0.3s;
				text-align: center;
			}
			&__navigation.active{
				display: block;
				z-index: 10;
				min-height: 800px;
				top: 0%;
				background-color: #62D0DF;
				flex-direction: column;
				width: 100%;
				padding-top: 80px;
			}
			&__list {
				display: flex;
				flex-direction: column;
				margin: 0;
				margin-bottom: 30px;
				& li{
					margin-bottom: 50px;
				}
			}
	
			&__link {
				color: #fff;
				font-size: 24px;
				
			}
			&__btn {
				font-size: 24px;
				border: 0.5px solid #fff;
				background-color: #F9B640;
			}
		}
		@media(max-width: 367px){
			&__logo{
				margin-left: 20px;
			}
		} 
}
.container {
	max-width: 1130px;
	margin: 0 auto;
	padding: 0px 0px;
}
.logo {
	font-family: Larsseit;
	font-size: 28px;
	line-height: 27px;
	color: #62D0DF;
	font-weight: 700;
	letter-spacing: -0.035em;
}
.content {

		&__main {
			
		}
}
.button {

		&__main {
			
		}
}
.main-button {
	font-weight: 700;
		&__left {
			color: #FFFFFF;
			background-color: #F9B640;
			padding: 11px 30px;
			transition: 0.2s;
			
		}
		&__right {
			padding: 11px 30px;
			color: #F9B640;
			transition: 0.2s;
		}
	
}
.main-button__right:hover ~ .main-button__left{
	color: #F9B640;
}
.reasons {
	background-color: #62D0DF;
	display: flex;
	&__body {
		flex: 0 0 100%;
	}
	&__column {
		padding: 151px 0px 95px 0px;
	}
	&__title {
		font-family: Larsseit;
		font-size: 36px;
		line-height: 27px;
		letter-spacing: -0.006em;
		color: #fff;
		font-weight: 700;
		margin-bottom: 70px;
	}
	&__text {
		font-weight: 700;
		color: #fff;
		font-family: Larsseit;
		font-size: 24px;
		line-height: 35px;
		max-width: 555px;
		& span{
			font-size: 20px;
			font-weight: 400;
			line-height: 29px;
		}
	}
	&__image {
		flex: 0 0 50%;
		transform: translate(-50%, 0px);
		& img{
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	@media(max-width: 1200px){
		&__column{
			padding-left: 10px;
		}
	}
	@media(max-width: 768px){
		&{
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		&__column{
			padding-top: 100px;
			padding-left: 0px;
		}
		&__text{
			margin: 0 auto;
			max-width: 350px;
		}
		&__image{
			width: 100%;
			margin-top: -50px;
			flex: 0 0 100%;
			transform: translate(0px, 0px);
			& img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	@media(max-width:359px){
		&__text{
			padding: 0px 5px;
		}
	}
}
.aboutus {
	
	background-color: #fff;
	padding-top: 182px;
	padding-bottom: 24px;
	&__row {
		display: flex;
		margin-bottom: 41px;
	}
	&__title {
		font-family: Larsseit;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.06em;
		color: #22356F;
		font-weight: 400;
		margin-right: 225px;
	}
	&__text{
		font-family: Larsseit;
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 0.005em;
		color: #22356F;
		max-width: 592px;
		font-weight: 500;
	}
	&__help{
		font-family: Larsseit;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.06em;
		font-weight: 400;
		color: rgba(34, 53, 111, 0.5);
		max-width: 201px;
		margin: 0 auto;
	}
	@media(max-width: 1200px){
		&__row {
			padding-left: 10px;
		}
	}
	@media(max-width: 768px){
		&{
			margin-top: -3px;
			padding-top: 100px;
		}
		&__row {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding-left: 0px;
		}
		&__text{
			margin: 0 auto;;
		}
		&__title{
			max-width: 90px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
	@media(max-width: 600px){
		&__text{
			padding: 0px 5px;
		}
	}
}
.services {

	&__row {
		margin-bottom: 120px;
		display: flex;
		max-width: 100%;
		& a{
			flex: 0 1 25%;
			transition: 0.2s;
			&:hover{
				opacity: 0.8;
			}
		}
		& a:nth-child(1){
			background-color: #FFE2DE;
		}
		& a:nth-child(2){
			background-color: #C4E769;
		}
		& a:nth-child(3){
			background-color: #62D0DF;
		}
		& a:nth-child(4){
			background-color: #0052C1;
		}
	}

	&__content {
		box-sizing: border-box;
		& span{
			display: block;
			width: 100%;
			height: 1px;
			background-color: #fff;
		}
	}

	&__content-top {
		padding: 70px 52.5px 232px 52.5px;
		& span{
			margin-bottom: 23px;
		}
	}
	&__title {
		position: relative;
		font-family: Larsseit;
		font-size: 32px;
		line-height: 34px;
		letter-spacing: -0.006em;
		font-weight: 700;
		color: #fff;
		&:before{
			content: '';
			position: absolute;
			background-color: #E9B730;
			border-radius: 50%;
		}
	}

	&__title-top {
		padding-left: 25px;
		&:before{
			width: 9px;
			height: 9px;
			margin-left: -25px;
			margin-top: 8px;
		}
	}
	&__column {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		& a{
			flex: 1 1 33%;
			list-style-type: none;
			transition: 0.2s;
			&:hover{
				opacity: 0.8;
			}
		}
		& a:nth-child(1){
			background-color: #22356F;;
		}
		& a:nth-child(2){
			background-color: #0052C1;;
		}
		& a:nth-child(3){
			background-color: #C4E769;
			background-image: url('/images/services-image.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
		& a:nth-child(4){
			background-color: #62D0DF;
		}
		& a:nth-child(5){
			background-color: #DEE1FF;
		}
		& a:nth-child(6){
			background-color: #8F00FF;
		}
	}

	&__content-bottom {
		padding: 94px 70px 282px 70px;
		& span{
			margin-bottom: 30px;
		}
	}
	&__title-bottom {
		padding-left: 30px;
		&:before{
			width: 12px;
			height: 12px;
			margin-left: -30px;
			margin-top: 8px;
		}
	}
	@media(max-width: 1024px){
		&__row{
			flex-wrap: wrap;
			& a{
				flex: 0 1 50%;
			}
		}
		&__column{
			& a{
				flex: 0 1 50%;
			}
		}
		&__content-top {
			padding: 70px 25px 232px 25px;
		}
		&__content-bottom {
			padding: 94px 35px 282px 35px;
		}
	}
	@media(max-width: 767px){
		&__row{
			& a{
				flex: 0 1 100%;
			}
		}
		&__content-top {
			text-align: center;
			& span{
				margin-bottom: 23px;
			}
		}
		&__title-top{
			padding-left: 10px;
		}
		&__column{
			& a{
				flex: 0 1 100%;
			}
		}
		&__content-bottom{
			text-align: center;
		}
		&__title-bottom{
			padding-left: 10px;
		}
		&__content-bottom {
			padding: 94px 15px 282px 15px;
		}
	}
}
.container-second {
	max-width: 1230px;
	margin: 0 auto;
}
.blog {
	margin-top: 22px;
	&__column {
	}

	&__row {
		display: flex;
		max-width: 1440px;
		margin: 0 auto;
		flex-wrap: wrap;
	}

	&__content {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 119px 77px 37px 105px;
		&:hover{
			transition: 0.2s;
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	&__title {
		font-family: Larsseit;
		font-size: 28px;
		line-height: 33px;
		letter-spacing: -0.03em;
		color: #22356F;
		font-weight: 400;
		margin-bottom: 28px;
	}

	&__subtitle {
		font-family: Larsseit;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: -0.03em;
		font-weight: 400;
		color: rgba(34, 53, 111, 0.5);
		max-width: 298px
	}
	@media(max-width: 1023px){
		&__content {
			padding: 119px 10px 37px 10px;
			justify-content: center;
			text-align: center;
		}
	}
	@media(max-width:767px){
		&__content {
			width: 100%;
		}
		&__subtitle{
			margin: 0 auto;
		}
	}
}
.contactus {
	margin-top: 40px;
	&__top {
		display: flex;
		max-width: 1920px;
		margin: 0 auto;
		
	}
	&__image {
		& img{
			max-width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}
	&__content {
		padding-top: 103px;
		padding-bottom: 42px;
	}

	&__content-top {
		
	}
	&__image-top {
		margin-right: 106px;
	}
	&__text {
	}

	&__text-top {
		padding-right: 10px;
		max-width: 686px;
	}
	&__slogan {
		font-family: Larsseit;
		font-size: 16px;
		line-height: 12px;
		letter-spacing: 0.06em;
		font-weight: 400;
	}

	&__slogan-top {
		color: #22356F;
		margin-bottom: 225px;
	}

	&__subtitle {
		font-family: Larsseit;
		font-size: 36px;
		line-height: 53px;
	}

	&__subtitle-top {
		letter-spacing: -0.01em;
		color: #22356F;
		font-weight: 700;
		& span{
			color: #62D0DF;
		}
		margin-bottom: 152px;
	}

	&__link {
		font-family: Larsseit;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.1em;
		font-weight: 700;
		transition: 0.2s;
	}

	&__link-top {
		color: #FAB63E;
		&:hover{
			color: #62D0DF;
		}
	}

	&__bottom {
		position: relative;
		z-index: 2;
		display: flex;
	}

	&__content-bottom {
		background-color: #22356F;
		flex: 0 0 100%;
	}

	&__text-bottom {
		padding-left: 10px;
		max-width: 686px;
	}

	&__slogan-bottom {
		color: #fff;
	}

	&__title {
		font-weight: 700;
		color: #fff;
		font-family: Larsseit;
		font-size: 64px;
		line-height: 94px;
		letter-spacing: -0.01em;
		margin-top: 230px;
		margin-bottom: 50px;
	}

	&__subtitle-bottom {
		font-weight: 400;
		color: #fff;
		margin-bottom: 100px;
	}

	&__link-bottom {
		color: #62D0DF;
		&:hover{
			color: #FAB63E;
		}
	}

	&__image-bottom {
		flex: 0 0 50%;
		transform: translate(-50%, 0px);
	}
	@media(max-width:1024px){
		&__top {
			flex-direction: column;
		}
		&__bottom {
			flex-direction: column;
		}
		&__image{
			position: relative
			z-index 1;
			width: 100%;
			flex: 0 0 100%;
			transform: translate(0px, 0px);
			& img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__text {
			text-align: center;
			margin: 0 auto;
			padding: 0 10px;
		}
	}
	@media(max-width:767px){
		&__title {
			margin-top: 130px;
		}
		&__slogan-top {
			margin-bottom: 125px;
		}
	
	}
}
.footer {
	margin-top: -3px;
	&__top {
		display: flex;
		max-width: 1920px;
		margin: 0 auto;
		
	}
	&__image {
		margin-right: 68px;
		& img{
			max-width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}

	&__columns {
		padding: 98px 0px;
		display: flex;
		&:last-child{
			margin-right: 0px;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		margin-right: 100px;
	}

	&__title {
		font-family: Larsseit;
		font-size: 14px;
		line-height: 11px;
		letter-spacing: -0.006em;
		color: #22356F;
		font-weight: 700;
		margin-bottom: 50px;
	}

	&__text {
		font-family: Larsseit;
		font-size: 14px;
		line-height: 23px;
		letter-spacing: -0.006em;
		color: rgba(34, 53, 111, 0.5);
		font-weight: 400;
		max-width: 174px;
	}

	&__adress {
	}

	&__number {
		margin-top: 35px;
	}

	&__email {
		color: #0052C1;
	}
	&__hours{
		max-width: 100px;
	}
	&__bottom {
		background-color: #62D0DF;
		padding: 32px 0px;
	}

	&__copyright {
		display: flex;
		font-family: Larsseit;
		font-size: 14px;
		line-height: 11px;
		letter-spacing: -0.006em;
		color: #fff;
		font-weight: 700;
		& span{
			display: block;
			font-weight: 400;
			margin-right: 6px;
			margin-top: 1.5px;
		}
	}
	@media(max-width:1024px){
		&__col {
			margin-right: 40px;
			max-width: 90%;
			height: 90;
		}
		&__image{
			margin-right: 30px;
			& img{
				max-width: 350px;
			}
		}
		&__bottom {
			padding-left: 10px;
		}
	}
	@media(max-width:1023px){
		&__top {
			flex-direction: column;
		}
		&__image{
			margin-right: 0px;
			order: 2;
			width: 100%;
			flex: 0 0 100%;
			& img{
				min-width: 100%;
			}
		}
		&__columns {
			justify-content: center;
			order: 1;
		}
	
		&__col {
			margin-right: 70px;
		}
		&__bottom{
			margin-top: -3px;
		}
	}
	@media(max-width:767px){
		&__columns {
			padding-bottom: 0px;
			flex-direction: column;
			
			&:last-child{
				margin-bottom: 0px;
			}
		}
		&__col {
			text-align: center;
			margin-bottom: 50px;
			min-width: 100%;
		}
		&__hours{
			margin: 0 auto;
		}
		&__title {
			font-family: Larsseit;
			font-size: 14px;
			line-height: 11px;
			letter-spacing: -0.006em;
			color: #22356F;
			font-weight: 700;
			margin-bottom: 20px;
		}
	
		&__text {
			margin: 0 auto;
		}
		&__number {
			margin-top: 35px;
		}
		&__email {
			color: #0052C1;
		}
		&__bottom {
			
			padding-left: 0px;
		}
		&__copyright {
			justify-content: center;
		}
	}
}